/*MAIN*/
/*INDEX*/
/*Carousel*/
.galeria{
    &__contenedor &__item{
        img{
            @include tamaño-maximo(100%, none);
            @include dimensiones (none, auto);
        }
    }
}    
/*Categorias*/
.categorias{    
    &__titulo{
        @include titulos_desktop;
        @include margenes (none, none, 70px, none);
    }
}
.bloque{
    &__recuadro{
        @include tamaño-maximo (280px, 280px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 30px;
    }
    &__recuadro:hover{
        transition: transform 0.5s;
        transform: scale(1.1);
        border: 1px solid black;
    }
    &__aumento{        
        img {
            @include dimensiones (200px, 200px);
        }
        a {
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
        }
    }
}
/*BREADCRUMB*/
.guia{
    &__link{        
        color: rgb(117, 114, 114);
        text-decoration: none;   
    }
    &__link:hover{
        color: black;
        text-decoration: underline;
    }
}
/*PRODUCTOS*/
.productos{
    &__titulo {
        @include titulos_desktop;
    }
}
.tarjeta{
    @include margenes (30px, none, 30px, none);
    &__contenedor {
        img{  
        @include tamaño-maximo (300px, 250px);
        @include dimensiones (100%, 100%);
        text-align: center;
        }
    }
    &__info{
        @include orden;
    }
    &__nombre{
        font-size: 20px;
    }
    &__boton{
        background-color: $color-boton-productos;
        border: none;
        @include dimensiones (250px, none);     
    }
    &__boton:hover{
        background-color: $hover-boton-productos;
    }
}
/*NOSOTROS*/
.nosotros{
    &__titulo {
        @include titulos_desktop;
    }
    &__intro{
        text-align: center;
        @include orden;
        p {
            font-size: 22px;
            font-weight: bold;
            @include margenes (none, none, 20px, none);
        }
        img {    
            @include dimensiones (80%, 450px)
        }
    }
    &__descripcion{
        p{    
            margin: map-get($margin-p-nosotros, desktop);
            font-size: 18px;
            text-align: justify;
        }
    }
    &__final{
        font-weight: bold;
    }
}
/*PREGUNTAS FRECUENTES*/
.preguntas{
    &__titulo{
        @include titulos_desktop;   
    }
    &__contenido {
        @include margenes (20px, 80px, 20px, 80px);
        h3{
            font-size: 20px;
            text-align: start;
        }
        p{
            font-size: 18px;
            text-align: justify;
        }
    }
}
/*CONTACTO*/
.contacto {
    &__title {
        @include titulos_desktop;
    }
    &__form {
        @include orden;
        @include margenes (none, none, 30px, none);
    }
    &__casilla--nombre,
    &__casilla--correo, 
    &__casilla--mensaje {  
        @include tamaño-maximo (400px, none);
        @include dimensiones (100%, none);
        @include margenes (none, none, 10px, none);
    }
    &__input--nombre,
    &__input--email,
    &__textarea {        
        box-sizing: border-box;
        border: 1px solid $color-bordes-form;
        border-radius: 5px;
        @include margenes (10px, none, none, none);
        @include dimensiones (100%, none);
    }
    &__boton {
        @include tamaño-maximo (400px, none);
        @include dimensiones (100%, 40px);
        @include margenes (10px, none, none, none);
        padding: 10px;
        background-color: $color-boton-form;
        color: $texto-boton-form;
        border: none;
        border-radius: 5px;
    }
}
