/*MEDIA QUERIES TABLET*/

@media (min-width: 768px) and (max-width: 991px) { 
/*HEADER*/
    .topbar {
        display: flex;
        flex-direction: column;
            &__menu {
                @include margenes (none, none, none, 10px);
            }
            &__links {
                @include dimensiones (auto, none);
                @include margenes (none, none, none, 10px);                
            }        
            &__enlace{
                margin: 8px;
            }
    }        
    /*INDEX - MAIN*/
        /*Categorias*/
    .categorias{
        &__titulo{
            @include titulos_tablet;
        }       
    }
    .bloque{
        &__recuadro{
            @include tamaño-maximo (210px, 210px);      
        }
        &__aumento{            
            img{
                @include dimensiones (auto, 150px);
            }     
            a{
                font-size: 16px;
            }      
        }           
    }
    /*PRODUCTOS*/    
    .productos{
        &__titulo{
            @include titulos_tablet;
        }
    }
    .tarjeta{
        &__contenedor{
            @include tamaño-maximo (250px, none);
            @include dimensiones (100px, none);
                img{   
                    @include tamaño-maximo (250px, 200px);
                    @include dimensiones (100%, 100%);     
                }
            }
        &__nombre{
            font-size: 18px;
        }
        &__boton{
            @include dimensiones (200px, none);
        }
    }    
    /*NOSOTROS*/
    .nosotros{
        &__titulo{
            @include titulos_tablet;
        }
        &__intro{
            p{
                font-size: 20px;
            }
            img {    
                @include dimensiones (90%, 300px);
            }
        }
        &__descripcion {
            p {
                font-size: 16px;
                margin: map-get($margin-p-nosotros , tablet);
            }
        }
    }    
    /*PREGUNTAS FRECUENTES*/
    .preguntas{
        &__titulo {
            @include titulos_tablet;
        }
        &__contenido{
            h3{
                font-size: 18px;
            }
            p{
                font-size: 16px;
            }
        }
    }    
    /*CONTACTO*/
    .contacto{
        &__title {
            @include titulos_tablet;
        }

        &__boton {
            @include dimensiones (none, 38px);
            padding: 10px;
        }            
    }
    /*ASIDE*/
    .apartado{
        &__img {
            height: auto;
        }
    }        
    /*FOOTER*/
    .footbox{
        @include tamaño-maximo (none, 300px);
        &__contacto, &__pago {
            @include relleno (20px, none, 20px, none);
        }
        &__title {
            font-size: map-get($titulo-pie, tamaño-tablet);
        }
        &__info {
            font-size: map-get($info-pie, size-1);
        }
        &__icono {
            @include tamaño-maximo (40px, 40px);
        }            
    }
}        
    /*MEDIA QUERIES MOBILE*/        
@media (max-width:767px){
    /*HEADER*/
    .topbar {
        display: flex;
        flex-direction: column;            
        &__menu {
            @include margenes (none, none, none, 10px);
        }                
        &__links {
            @include dimensiones (auto, none);
            @include margenes (none, none, none, 10px);
        }            
        &__enlace{
            margin: 8px;
        }
    }        
    /*INDEX - MAIN*/
        /*Categorias*/
        .categorias{
            &__titulo{
                @include titulos_mobile
            }
        }
        .bloque{
            &__recuadro{
                @include tamaño-maximo (250px, 180px);
                margin-bottom: 20px;             
            }
            &__aumento{
                img{
                    @include dimensiones (200px, 120px);                    
                }    
                a{
                    font-size: 14px;
                }       
            }           
        }
    /*PRODUCTOS*/    
    .productos{
        &__titulo{
            @include titulos_mobile;
        }
    }
    .tarjeta{
        &__contenedor{
            @include tamaño-maximo (200px, none);
            @include dimensiones (100%, none);
            img{   
                @include tamaño-maximo (200px, 150px);
                @include dimensiones (100%, 100%);
            }
        }
        &__nombre{
            font-size: 16px;
        }
        &__boton{
            @include dimensiones (150px, none);
        }
    }    
    /*NOSOTROS*/
    .nosotros{
        &__titulo{
            @include titulos_mobile;
        }
        &__intro{
            p{
                font-size: 18px;
            }
            img {    
                @include dimensiones (90%, 250px);
            }
        }
        &__descripcion{
            p {
                font-size: 16px;
                margin: map-get($margin-p-nosotros, mobile);
            }
        }
    }
    /*PREGUNTAS FRECUENTES*/
    .preguntas{
        &__titulo{
            @include titulos_mobile;
        }
        &__contenido{
            h3{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
        }
    }            
    /*CONTACTO*/
    .contacto{
        &__title {
            @include titulos_mobile;
        }
        &__boton {
            @include dimensiones (none, 35px);
            padding: 8px; 
        }
    }
    /*ASIDE*/
    .apartado{
        &__img {
            height: auto;
        }
    }        
    /*FOOTER*/
    .footbox{
        @include tamaño-maximo (none, 250px);  
        &__contacto, &__pago {
            @include relleno (10px, none, 10px, none);
        }            
        &__title {
            font-size: map-get($titulo-pie, tamaño-mobile);
        }            
        &__info {
            font-size: map-get($info-pie, size-2);
        }            
        &__icono {
            @include tamaño-maximo (30px, 30px);
        }    
    }            
}        
