$tipografia-general: "Montserrat", sans-serif;
$color-hover-nav: #f0f0f0;
$bgc-titulos-principales: #000000;
$color-titulos-principales: #ffffff;
$enlaces-categorias: #000000;
$color-boton-productos: #da8cc6;
$hover-boton-productos: #c966b0;
$color-bordes-form: #ac9e9e;
$color-boton-form: #5457f0;
$texto-boton-form: #ffffff;
$fondo-pie: #070606;
$color-texto-pie: #b9b3b3;

$margin-p-nosotros:(
    desktop: 20px 80px,
    tablet: 20px 60px,
    mobile: 20px 40px,
);

$titulo-pie:(
    tamaño-desktop: 18px,
    tamaño-tablet: 16px,
    tamaño-mobile: 14px,    
);

$info-pie:(
    size-1: 14px,
    size-2:12px,
);